{% extends 'default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
   <h1 class="text-center">Новости </h1>
 {% if is_not_subscriber %}
<a href="{% url 'subscriber_user' category.id %}"><button type="button" class="btn btn-outline-secondary">Subscribe</button></a><br>

{% else %}
 <a href="{% url 'subscriber_user' category.id %}"><button type="button"  class="btn btn-outline-secondary">upsubscribe</button></a><br>
 {% endif %}
   <hr>

   <div class="naz1">

</div>
     {% for p in cat %}
<div class="info">
        {% for category in p.category.all %}
                      <div align="left">Категория: <a href="{% url 'category_list' category.id %}"> {{ category }}</a></div><br>

   {% endfor %}

            <h2>{{ p.title|censor}}</h2>
            <p>{{ p.text|censor|truncatechars:50}}</p><br>


                <a href="{% url 'post_detail' p.id %}"class="btn btn-outline-success">Подробнее о статье</a><br>
            <div align="right">Дата создания: {{ p.date_creation }}</div>
            <div align="right">Автор: {{ p.autor }}</div>   <hr>
    </div>
   {% endfor %}


{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


   {{ page_obj.number }}

 {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
