{% extends 'default.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="details">
      <h2>{{ post.title }}</h2>
    {% for i in post.categoryType.all %}
                      <div align="left">Категория:{{ i }}</div><br>

    {% endfor %}

     <small>Дата создания:{{ post.date_creation|date:'d M Y' }}</small>
         <p>{{ post.text|linebreaks}}</p>
      <small>Автор:{{ post.autor }}</small><br>

<comment>   <!-- LIKES -->
{% if user.is_authenticated %}
  <form action="#" method="POST">
	{% csrf_token %}

	{% if post_is_liked %}
	<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
	{% else %}
	<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Like</button>
	{% endif %}
  </form>
{% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
{% endif %}
<strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
</comment>
</div>
<hr>
   <form method="POST">
    {% csrf_token %}
       <a href="{% url 'news_update' post.id %}"><button type="button" class="btn btn-outline-primary">update news</button></a><br>
       <a href="{% url 'post_delete' post.id %}"><button type="button" class="btn btn-outline-danger">delete news</button></a>
    </form>

{% endblock content %}
