{% extends 'default.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="details">
      <h2>{{ post.title }}</h2>
    {% for i in post.categoryType.all %}
                      <div align="left">Категория:{{ i }}</div><br>

    {% endfor %}

     <small>Дата создания:{{ post.date_creation|date:'d M Y' }}</small>
         <p>{{ post.text|linebreaks}}</p>
      <small>Автор:{{ post.autor }}</small><br>


</div>
<hr>
   <form method="POST">
    {% csrf_token %}
       <a href="{% url 'news_update' post.id %}"><button type="button" class="btn btn-outline-primary">update news</button></a><br>
       <a href="{% url 'post_delete' post.id %}"><button type="button" class="btn btn-outline-danger">delete news</button></a>
    </form>

{% endblock content %}
